@model RentNumberViewModel

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>Rent Number</h2>
            <form asp-action="RentNumber" asp-controller="Rent" method="post">
                <input type="hidden" name="ApiKey" value="@Model.Account.ApiKey" />
                <input type="hidden" id="accountId" name="id" value="@Model.Account.Id" />
                <div class="form-group mt-3">
                    <label>Country</label>
                    <input type="text" id="countryCode" value="1" class="form-control" readonly />
                </div>
                <div class="form-group mt-3">
                    <label>Service</label>
                    <input type="text" id="serviceId" value="828" class="form-control" readonly />
                </div>
                <button type="submit" id="rentBtn" class="btn btn-primary mt-4">Rent Number</button>

                <div class="mt-3">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-link">
                        <i class="fa fa-home"></i>
                        Back to Home
                    </a>
                </div>
            </form>

            <div id="phoneSection" style="margin-top: 90px; display: none">
                <label>Phone Number:</label>
                <input type="text" id="phoneNumber" readonly class="form-control" />
                <input type="hidden" id="orderIdInput" name="OrderId" />

                <button class="btn btn-warning mt-2 resend-btn">Resend</button>
                <button id="getOtpBtn" class="btn btn-success mt-2">Get OTP</button>

                <div class="mt-3">
                    <strong>OTP:</strong> <span class="text-danger" id="otpDisplay"></span>
                </div>
            </div>

        </div>

        <div class="col-md-1"></div>

        <div class="col-md-8">
            <h3>Rented Numbers</h3>
            <table class="table table-bordered mt-3" id="ordersTable" asp-action="GetAllRentedNumbers" asp-controller="Rent">
                <thead class="thead-light bg-light">
                    <tr>
                        <th>#</th>
                        <th>Order Code</th>
                        <th>Phone</th>
                        <th>Code</th>
                        <th>Country</th>
                        <th>Service</th>
                        <th>Status</th>
                        <th>Cost</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="rentedNumbersTable">
                    @if (Model.Orders != null && Model.Orders.Any())
                    {
                        int index = 1;
                        foreach (var order in Model.Orders)
                        {
                            <tr>
                                <td>@index</td>
                                <td>@order.OrderCode</td>
                                <td class="clickable-phone" data-phone="@order.PhoneNumber" 
                                        data-orderid="@order.OrderId"
                                        data-ordercode="@order.OrderCode">
                                    <a href="javascript:void(0);" class="text-black text-decoration-none">@order.PhoneNumber</a>
                                </td>
                                <td>@order.Code</td>
                                <td>@order.Country</td>
                                <td>@order.Service</td>
                                <td>
                                    @switch (order.Status?.ToLower())
                                    {
                                        case "pending":
                                            <span class="badge badge-warning" style="font-size: 14px;">
                                                Activating SMS
                                                @if (order.TimeLeft > 0)
                                                {
                                                    <span class="time-left" data-orderid="@order.OrderId"
                                                          data-timeleft="@order.TimeLeft"> - @order.TimeLeft s</span>
                                                }
                                            </span>
                                            break;
                                        case "completed":
                                            <span class="badge badge-success" style="font-size: 14px;">Completed</span>
                                            break;
                                        case "activating":
                                            <span class="badge badge-info" style="font-size: 14px;">Activating</span>
                                            break;
                                        case "expired":
                                            <span class="badge badge-danger" style="font-size: 14px;">Expired</span>
                                            break;
                                        case "resend":
                                            <span class="badge badge-secondary" style="font-size: 14px;">Resend</span>
                                            break;
                                        default:
                                            <span class="badge badge-warning" style="font-size: 14px;">
                                                Activating SMS
                                                @if (order.TimeLeft > 0)
                                                {
                                                    <span class="time-left" data-orderid="@order.OrderId"
                                                          data-timeleft="@order.TimeLeft"> - @order.TimeLeft s</span>
                                                }
                                            </span>
                                         break;
                                    }
                                </td>                            
                                <td>@order.Cost</td>
                                <td>
                                    @if (order.Status == "pending" || order.Status == "activating") {
                                        <button class="btn btn-sm btn-warning refund-btn" id="refundBtn"
                                                data-ordercode="@order.OrderCode"
                                                data-orderid="@order.OrderId">
                                            Refund
                                        </button>
                                    }
                                    else {
                                        <button class="btn btn-sm btn-primary resend-btn-table"
                                                data-ordercode="@order.OrderCode"        
                                                data-orderid="@order.OrderId">     
                                            Resend
                                        </button>
                                    }
                               
                                </td>
                            </tr>
                            index++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">No rented numbers found</td>
                        </tr>
                    }
                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center pagination-dark" id="pagination">
                </ul>
            </nav>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@section Scripts {
    <script>
        let allOrders = [];
        const pageSize = 10;
        let currentPage = 1;

        function getUserToken() {
            let token = localStorage.getItem("userToken");
            if (!token) {
                token = "user_" + Date.now() + "_" + Math.random().toString(36).substring(2, 10);
                localStorage.setItem("userToken", token);
            }
            return token;
        }

        function reloadOrders() {
            const id = $("#accountId").val();
            const token = getUserToken();

            $.post('@Url.Action("GetAllRentedNumbers", "Rent")', { id: id, userToken: token }, function (result) {
                if (result.success && result.orders) {
                    allOrders = result.orders;
                    renderTablePage(1);
                    updateTimeLeft();
                } else {
                    console.log("No orders found or failed to load.");
                }
            });
        }

        $(document).ready(function () {
            const userToken = getUserToken();

            // if (!userToken) {
            //     const token = "user_" + Date.now() + "_" + Math.random().toString(36).substring(2, 10);
            //     localStorage.setItem('userToken', token);
            // }

            const id = $("#accountId").val().trim();
            const orderMap = {}

            reloadOrders();

            $("form").on("submit", function (e) {
                e.preventDefault(); // Prevent form submission

                let token = getUserToken();
                const id = $("#accountId").val().trim();
                console.log("AccountId:", id);

                $.post('@Url.Action("RentNumber", "Rent")', { id: id, userToken: token}, function (res) {
                    if (res.success) {
                        $("#phoneNumber").val(res.phoneNumber);

                        const orderId = res.orderId;
                        const orderCode = orderId;

                        let orderMap = JSON.parse(localStorage.getItem("orderMap") || "{}");

                        orderMap[orderCode] = orderId;

                        localStorage.setItem("orderMap", JSON.stringify(orderMap));

                        $("#phoneSection").show();

                        $("#getOtpBtn").data("order_id", res.orderId);
                        
                        // load full rented number
                        $.post('@Url.Action("GetAllRentedNumbers", "Rent")', {id: id,  userToken: userToken }, function(result)
                        {
                            if(result.success && result.orders) 
                            {
                                allOrders = result.orders;
                                renderTablePage(1);
                                updateTimeLeft();
                            }
                        });
                    } else {
                        toastr.error("Error: " + res.message);
                    }
                });
            });

            setInterval(function() {
                reloadOrders();
            }, 10000);

          

            $("#getOtpBtn").on("click", function() {
                const id = $("#accountId").val().trim();
                const orderId = $(this).data("order_id");

                console.log("Sending orderId to server:", orderId);

                startCountdown();

                $.post('@Url.Action("GetOtp", "Rent")', { id: id, orderId: orderId }, function (res) 
                {
                    if (res.success && res.otp) {
                        clearInterval(countdownInterval);
                        $("#otpDisplay").text(res.otp);
                    } else {
                        $("#otpDisplay").text("OTP not available, system will try again.");
                    }
                });
            });

            let countdownInterval;
            let countdown = 30;

            function startCountdown() {
                clearInterval(countdownInterval);
                countdown = 30;
                $("#otpDisplay").text("Waiting for OTP... (" + countdown + "s)");
                countdownInterval = setInterval(() => {
                     countdown--;
                    if (countdown > 0) {
                        $("#otpDisplay").text("Waiting for OTP... (" + countdown + "s)");
                    } else {
                        clearInterval(countdownInterval);
                        $("#otpDisplay").text("Failed to get OTP. Please try again!!");
                    }
                }, 1000);
            }

            $(document).on("click", ".clickable-phone", function () {
                const phone = $(this).data("phone");
                let orderId = $(this).data("orderid");
                const orderCode = $(this).data("ordercode");

                orderId = orderCode;

                console.log(orderCode);
                console.log(orderId);

                $("#phoneNumber").val(phone);
                $("#phoneSection").show();

                console.log($("#getOtpBtn").data());

                $("#getOtpBtn").data("order_id", orderId);
                $("#ordersTable tbody tr").removeClass("table-active");
                $(this).closest("tr").addClass("table-active");
            });


            $(document).on("click", ".resend-btn", function () {
                const id = $("#accountId").val().trim();
                const orderId = $("#getOtpBtn").data("order_id");

                $.post('@Url.Action("ResendCode", "Rent")', { id: id, orderId: orderId }, function (res)
                {
                    if (res.success) {
                        toastr.success("Resent successfully");
                    } else {
                        toastr.error("Failed to resend code");
                    }
                });
            });

            $(document).on("click", ".resend-btn-table", function () {
                const id = $("#accountId").val().trim();
                const orderCode = $(this).data("ordercode");
                let orderId = $(this).data("orderid");

                orderId = orderCode;


                console.log("Resend clicked:", { orderCode, orderId });

                $.post('@Url.Action("ResendCode", "Rent")', { id: id, orderId: orderId }, function (res) {
                    if (res.success) {
                        toastr.success("Resent successfully");
                    } else {
                        toastr.error("Failed to resend code");
                    }
                });
            });

            $(document).on('click', '.refund-btn', function () {
                const orderCode = $(this).data("ordercode");
                let orderId = $(this).data("orderId");

                let orderMap = JSON.parse(localStorage.getItem("orderMap") || "{}");
                orderId = orderMap[orderCode];

                console.log("orderCode = ", orderCode);
                console.log("Mapped orderId from orderCode = ", orderMap[orderCode]);
                console.log("Actual sent orderId = ", orderId);

                const id = $("#accountId").val().trim();
                Swal.fire({
                   title: "Are you sure?",
                   text: "Do you want to refund this order?",
                   icon: "warning",
                   showCancelButton: true,
                   confirmButtonText: "Yes, refund it!",
                   cancelButtonText: "Cancel"
                }).then((result) => {
                   if (result.isConfirmed) {
                        $.post('@Url.Action("RefundOrder", "Rent")', { id: id, orderId: orderId }, function (res) {
                            if (res.success === true || res.message.includes("already been refunded")) {
                               toastr.success("Refund successful.");
                               reloadOrders();
                            } else {
                               toastr.error("Refund failed: " + res.message);
                            }
                        });
                   }
                });
            });
        });

        function renderTablePage(page) {
            currentPage = page;
            const start = (page - 1) * pageSize;
            const end = start + pageSize;
            const pagedData = allOrders.slice(start, end);

            let rows = "";
            let index = start + 1;


            pagedData.forEach(order => {
                let statusBadge = "";
                const status = order.status?.toLowerCase();

                console.log("Order: ", order);
                const timeLeft = Number(order.time_left) || 0;
                const createdAt = new Date();

                switch(status) {
                    case "pending":
                        statusBadge = `
                            <span class="badge badge-warning" style="font-size: 14px;">
                                Awaiting SMS <span class="time-left" 
                                    data-orderid="${order.order_id}" 
                                    data-timeleft="${timeLeft}">(${timeLeft}s)</span>
                            </span>`;
                        break;
                    case "completed":
                        statusBadge = '<span class="badge badge-success" style="font-size: 14px;">Completed</span>';
                        break;
                    case "activating":
                        statusBadge = '<span class="badge badge-info" style="font-size: 14px;">Awaiting</span>';
                        break;
                    case "expired":
                        statusBadge = '<span class="badge badge-danger" style="font-size: 14px;">Expired</span>';
                        break;
                    case "resend":
                        statusBadge = '<span class="badge badge-secondary" style="font-size: 14px;">Resend</span>';
                    default:
                        statusBadge = `
                            <span class="badge badge-warning" style="font-size: 14px;">
                                Awaiting SMS <span class="time-left"
                                    data-orderid="${order.order_id}"
                                    data-timeleft="${timeLeft}">(${timeLeft}s)</span>
                            </span>`;
                        break;
                }
                let actionButton = "";
                if (status === "pending" || status === "activating") {
                    actionButton = `<button class="btn btn-sm btn-warning refund-btn"
                                        data-ordercode="${order.order_code}"
                                        data-orderid="${order.order_id}">
                                            Refund
                                    </button>`;
                } else {
                    actionButton = `<button class="btn btn-sm btn-primary resend-btn-table"
                                        data-ordercode="${order.order_code}"
                                        data-orderid="${order.order_id}">
                                            Resend
                                    </button>`;
                }
                    
                rows += `
                    <tr>
                        <td>${index}</td>
                        <td>${order.order_code}</td>
                        <td class="clickable-phone" data-phone="${order.phonenumber}" 
                                data-orderid="${order.order_id}" 
                                data-ordercode="${order.order_code}">
                            <a href="javascript:void(0);" class="text-black text-decoration-none">${order.phonenumber}</a>
                        </td>
                        <td>${order.code ?? ''}</td>
                        <td>${order.country}</td>
                        <td>${order.service}</td>
                        <td>${statusBadge}</td>
                        <td>${order.cost}</td>
                        <td>${actionButton}</td>                       
                    </tr>`;
                index++;
            });

            $("#rentedNumbersTable").html(rows);
            renderPagination();
        }

        function renderPagination() {
            const pageCount = Math.ceil(allOrders.length / pageSize);
            let pagination = "";
            const visiblePages = 4;

            // Always show the first page
            pagination += `
                <li class="page-item ${currentPage === 1 ? 'active' : ''}">
                    <a class="page-link" href="#" data-page="1">1</a>
                </li>`;

            // Show pages 2 to visiblePages (if currentPage is near start)
            if (currentPage <= visiblePages) {
                for (let i = 2; i <= Math.min(visiblePages + 1, pageCount - 1); i++) {
                    pagination += `
                        <li class="page-item ${currentPage === i ? 'active' : ''}">
                            <a class="page-link" href="#" data-page="${i}">${i}</a>
                        </li>`;
                }

                if (pageCount > visiblePages + 2) {
                    pagination += `
                        <li class="page-item disabled"><span class="page-link">...</span></li>`;
                }
            }

            // If current page is far from start and not close to end
            else if (currentPage > visiblePages && currentPage < pageCount - visiblePages + 1) {
                pagination += `
                    <li class="page-item disabled"><span class="page-link">...</span></li>`;

                for (let i = currentPage - 1; i <= currentPage + 1; i++) {
                    pagination += `
                        <li class="page-item ${currentPage === i ? 'active' : ''}">
                            <a class="page-link" href="#" data-page="${i}">${i}</a>
                        </li>`;
                }

                pagination += `
                    <li class="page-item disabled"><span class="page-link">...</span></li>`;
            }

            // If current page is near the end
            else if (currentPage >= pageCount - visiblePages) {
                pagination += `
                    <li class="page-item disabled"><span class="page-link">...</span></li>`;

                for (let i = pageCount - visiblePages; i < pageCount; i++) {
                    if (i > 1) {
                        pagination += `
                            <li class="page-item ${currentPage === i ? 'active' : ''}">
                                <a class="page-link" href="#" data-page="${i}">${i}</a>
                            </li>`;
                    }
                }
            }

            // Always show last page
            if (pageCount > 1) {
                pagination += `
                    <li class="page-item ${currentPage === pageCount ? 'active' : ''}">
                        <a class="page-link" href="#" data-page="${pageCount}">${pageCount}</a>
                    </li>`;
            }

            $("#pagination").html(pagination);

            $(".page-link").click(function (e) {
                e.preventDefault();
                const selectedPage = parseInt($(this).data("page"));
                if (!isNaN(selectedPage)) {
                    renderTablePage(selectedPage);
                }
            });
        }

        let countdownTimers = {};

        function updateTimeLeft() {
            for (let key in countdownTimers) {
                clearInterval(countdownTimers[key]);
            }
            const countdownElements = document.querySelectorAll('.time-left');

            countdownElements.forEach(el => {
                let timeLeft = parseInt(el.dataset.timeleft);
                const orderId = el.dataset.orderid;

                if (isNaN(timeLeft) || timeLeft <= 0) {
                    el.textContent = `(Expired)`;
                    return;
                }

                el.textContent = `(${timeLeft}s)`;

                countdownTimers[orderId] = setInterval(() => {
                    timeLeft--;
                    el.textContent = `(${timeLeft}s)`;

                    if (timeLeft <= 0) {
                        clearInterval(countdownTimers[orderId]);
                        el.textContent = `(Expired)`;

                        const badge = el.closest('.badge');
                        if (badge) {
                            badge.classList.remove('badge-warning', 'badge-info');
                            badge.classList.add('badge-secondary');
                            badge.innerHTML = `Expired`;
                        }
                    }
                }, 1000);
            });
        }

        updateTimeLeft();
    </script>
}
